body 
{
    text-align: left;
	font-size: 12pt;
	color: black;
	margin: 10%;
    background-image: url(ferryman.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1
{
	text-align: center; 
	background-color: #98FB98;
	padding: 15px;
	margin: 50px 10% 50px 10%;
	border: 10px solid #000080;
}

h2, h3, h4
{
	color: black;
	text-align: center;
}

p
{
	font: 12px/30px Georgia, serif;
	font-size: 100%;
    padding: 10pt;
    color: white;
}

img.special
{
    float: left; 
    padding: 20pt;
}

img.special2
{
    float: right;
    padding: 20pt;
}


ul, ol
{
	font: 12px/30px Georgia, serif;
	font-size: 100%;
	border: 5px solid #000080; 
	background-color: #FFFFB2;
	padding: 25px;
	color: black;
}


IMG.displayed 
{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

p.author
{
    font: 12px/30px Georgia, serif;
    font-size: 20px;
	color: white;
    margin-right: 70px;
}

#menu 
{
    height: 45px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #98FB98;
    border-color: 5px solid black;
    border-radius: 8px;
}

#menu ul 
{
    padding: 8px 0px;
    margin: 0px;
}

#menu li 
{ 
    display: inline; 
    padding: 20px; 
}

#menu a:hover 
{
    color: #F90; /* sandy-orange */
    background-color: white;
}
